---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main class="gallery">
    <h1 class="galh1">GALLERY</h1>
    <div>
      <div class="card-gallery">
        <img src="website_fotos/2023.webp" alt="" />
        <h2 class="galh2">2023</h2>
      </div>
      <div class="card-gallery">
        <img src="website_fotos/2022.webp" alt="" />
        <h2 class="galh2">2022</h2>
      </div>
      <div class="card-gallery">
        <img src="website_fotos/2021.webp" alt="" />
        <h2 class="galh2">2021</h2>
      </div>
    </div>
  </main>
</MainLayout>
