---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h2>Index page</h2>

      <!-- Hero Section -->
    <main>
        <section class="hero">
            <video autoplay muted loop class="heroVideo">
                <source src="video.mp4" type="video/mp4">
            </video>
            <button class="heroBtn">Buy Ticket</button>
        </section>

        <!-- Kategorier -->
        <h2>INFORMATION</h2>
        <h2>VOLUNTEER</h2>
        <h2>GALLERY</h2>
        <hr>

        <!-- Tak for i år -->
        <h1>THANKS FOR THIS YEAR</h1>

        <div class="artistLoop">
            <div class="loopNavne">
                <span>Artist 1</span>
                <span>Artist 2</span>
                <span>Artist 3</span>
                <span>Artist 4</span>
                <span>Artist 5</span>
            </div>
        </div>
        <hr>
        <!-- Nyhedsbrev -->
        <form action="/action_page.php">

            <div class="container">
                <h2>Subscribe to our Newsletter</h2>
                <input type="text" placeholder="Name" name="name" required>
                <input type="text" placeholder="Email address" name="mail" required>
                <label>
                </label>
                <input type="submit" value="Subscribe">
            </div>
        </form>
</MainLayout>
