---
import MainLayout from "../layouts/MainLayout.astro"

---
<!-- <body>
    <img src="website_fotos/nattelys.webp" alt="nattelys">
    <h1>SEE YOU IN 306 DAYS</h1>
    <h2 class="h2-mobil">Karrusel</h2>
    <p class="p_default">28 - 30 August 2025</p>

    <p class="p_semibold_20px">As a volunteer you will get;</p>




    <h2>Apply here</h2>
    <form>
        <label for="fname">Your name</label><br>
        <input type="text" id="fname" name="fname" value="Write name here"><br>

        <label for="email">Your email</label><br>
        <input type="text" id="email" name="email" value="Write email here"><br><br>

        <label for="number">Your phonenumber</label><br>
        <input type="text" id="number" name="number" value="Number to contact you on"><br><br>

        <label for="age">Your age</label><br>
        <input type="text" id="age" name="age" value="+18"><br><br>

        <label for="message">Tell us about yourself</label><br>
        <input type="text" id="message" name="message" value="Message"><br><br>

        <input type="Submit" value="Apply">

        <label for="checkbox"> Terms & Conditions </label><br>
        <input type="checkbox" id="checkbox" name="terms" value="terms">
    </form>

    <p class="p_with_small_text"> *automatic registration of newsletter by apply</p>

</body>

</html> -->