<div class="apply">
  <div class="p_topnav">
    <p>Apply</p>
  </div>
</div>

<style>
  .p_topnav {
    font-size: 13px;
  }

  .apply {
    border-radius: 1000px;
    border: 1px solid #fff;
    display: flex;
    width: 100px;
    height: 40px;
    padding: 13.295px 0px 10.449px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  @media (max-width: 480px) {
    display: flex;
    width: 62.831px;
    height: 22px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }

  .p_topnav {
    font-size: 8px;
  }
</style>
