<div class="buytickets"> 
    <div class="p_topnav">
<p> Buy Tickets</p></div>
</div>

<style>
    .p_topnav{
        font-size: 13px;
    }

.buytickets {
border-radius: 1000px;
border: 1px solid #FFF;
display: flex;
width: 118px;
height: 40px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
}

    
</style>