<div class="buytickets"> 
    <div class="p_topnav">
<p> Buy Tickets</p></div>
</div>

<style>
    .p_topnav{
        font-size: 13px;
    }

.buytickets {
border-radius: 1000px;
border: 1px solid #FFF;
display: flex;
width: 118px;
height: 40px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
}

@media (max-width: 480px) 
{
 .buytickets {    display: flex;
width: 62.831px;
height: 22px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
 }

 .p_topnav{
        font-size: 8px;
    }
}
</style>

